.reset-password {
  .page{
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(12, 60, 60, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  img {
    width: 50%;
    height: 30vh;
    object-fit: cover;
    @media screen and(max-width: $size-mobile) {
      width: 90%;
    }
  }

  .password-div {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .criteria-container {
    color: white;
    text-align: left;
    font-size: calc(0.8rem + 0.8vw);

    @media screen and(max-width: $size-mobile) {
      font-size: calc(0.8rem + 0.8vh);
    }

    .criteria-title {
      margin-bottom: 5vw;
    }

    .criteria {
      display: flex;
      gap: 10px;
      margin-left: 5vw;
      align-items: center;
    }
  }

  .form-container {
    width: calc(70% - 25vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate(0, -15vh);
    padding: 2%;
    text-align: center;
    z-index: 1;

    @media screen and(max-width: $size-mobile) {
      width: 70%;
      padding: 5%;
    }

    h1 {
      font-weight: $weight-bold;
      font-size: calc(1rem + 2vw);
      color: $color-1;

      @media screen and(max-width: $size-mobile) {
        font-size: calc(1rem + 2vh);
      }
    }

    h2,
    p,
    li,
    label {
      color: white;
    }

    label {
      font-size: calc(0.8rem + 1vw);

      @media screen and(max-width: $size-mobile) {
        font-size: calc(1rem + 1vh);
      }
    }

    .error {
      margin: 1%;
      font-size: calc(0.8rem + 0.5vw);

      @media screen and(max-width: $size-mobile) {
        font-size: calc(0.8rem + 0.5vh);
      }
    }

    p {
      text-align: center;
      font-size: calc(0.8rem + 0.8vw);

      @media screen and(max-width: $size-mobile) {
        font-size: calc(0.8rem + 0.8vh);
      }
    }
    .btn {
      width: 70%;
      margin: 2%;
      margin-bottom: 5%;
      font-size: calc(0.8rem + 1vw);
      text-align: center;

      @media screen and(max-width: $size-mobile) {
        font-size: calc(1rem + 1vh);
      }
    }

    .confirm {
      text-align: center;
      // color: $success-color;
      margin: 2%;
      font-size: calc(1rem + 0.8vw);

      @media screen and(max-width: $size-mobile) {
        font-size: calc(1rem + 0.8vh);
      }
    }
  }
}
