.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border: 1px solid white;
    width: 40px !important;
    height: 35px;
  }
  
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root svg {
    color: white;
  }
  