<html>

  <head>

    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arapey&display=swap"
      rel="stylesheet"
    />
    <title>Alpha Mares : </title>
    <style type="text/css">
      * { font-family: "Arapey", serif;} p{font-size: 1.5vw; margin: 0;}
      h1{font-size: 3vw} h2{font-size: 2.1vw} a{ color: rgb(239, 193, 109)
      !important; text-decoration: none;} body, .main { margin: 0; background:
      linear-gradient( 180deg, rgba(0, 0, 0, 1) 0%, rgba(12, 60, 60, 1) 15%,
      rgba(12, 60, 60, 1) 90% ); background-color: linear-gradient( 180deg,
      rgba(0, 0, 0, 1) 0%, rgba(12, 60, 60, 1) 15%, rgba(12, 60, 60, 1) 90% ); }
      .logo { width: 100%; text-align: center; margin-top: 5vw; } img { width:
      50%; } .box { background-color: white; border-top: 3px solid rgb(239, 193,
      109);border-bottom: 3px solid rgb(239, 193, 109); padding: 3vw;} .title,
      .title-grey { text-align: center } .grey-container { background-color:
      lightgray; width: 90%; margin: auto; padding: 5px 10px calc(1em + 5px)
      10px; } .footer { text-align: center; color: rgb(239, 193, 109);
      padding-top: 30px; padding-bottom: 30px; }
    </style>
  </head>

  <body>
    <div class="main">

      <div class="preheader" style="display: none;">
        Your password has been changed
      </div>

      <div class="logo">
        <a href={{site}} target="_blank">
          <img src="cid:logo" alt="Alpha Mares">
        </a>
      </div>

      <div class="box">
        <div class="title">
          <h1>Password reset</h1>
        </div>

        <div class="infos">
          <p>Hello {{name}} {{surname}},</p>
          <p>We confirm that your Alpha Mares account password has been reset.
          </p>
        </div>

        <br>

        <div class="grey-container">
          <h2 class="title-grey">You are not behind this operation?</h2>
          <p>Change your password immediately by clicking on the following link:
            <a href={{link}}>I change my password</a>
          </p>
        </div>

        <br>

        <div class="bye">
          <p>Best regards,</p>
          <p>The Alpha Mares Team</p>
        </div>

      </div>

      <div class="footer">
        <p>+33 6 33 34 66 54</p>
        <p>contact@alphamares.com</p>
      </div>
    </div>
  </body>

</html>